{% extends 'commerce/_layouts/main' %}
{% block main %}

{% for product in craft.commerce.products.limit(5).find() %}
    <div class="row product">
        <div class="two columns">
            {% include "commerce/_images/product" with { class: 'u-max-full-width' } %}
        </div>
        <div class="ten columns">
            <h5>{% if product.url %}{{ product.link }}{% else %}{{ product.title }}{% endif %}</h5>
            {% if product.variants|length %}
                <form method="POST">
                    <input type="hidden" name="action" value="commerce/cart/updateCart">
                    <input type="hidden" name="redirect" value="commerce/cart">
                    <input type="hidden" name="qty" value="1">
                    {{ getCsrfInput() }}
	   
{% nav category in product.productDepartments %}
  <li>
    <a href="{{ category.url }}">{{ category.title }}</a>
    {% ifchildren %}
      <ul>
        {% children %}
      </ul>
    {% endifchildren %}
  </li>
{% endnav %}
 
            {% if product.getType.hasVariants %}
                    <select name="purchasableId">
                        {%- for purchasable in product.variants -%}
                            <option {% if purchasable.stock <= 0 and purchasable.unlimitedStock == false %}disabled {% endif %} value="{{ purchasable.purchasableId }}">{{ purchasable.description }} {{ purchasable.salePrice|currency(cart.currency) }}</option>
                        {%- endfor -%}
                    </select>
	    {% else %}
                        {%- for purchasable in product.variants -%}
				<span>{{ purchasable.salePrice|currency(cart.currency) }}</span>
		    		<input type="hidden" name="purchasableId" value="{{ purchasable.purchasableId }}" />
                        {%- endfor -%}
            {% endif %}
                    {% if product.unlimitedStock or (product.unlimitedStock == false and product.totalStock > 0 ) %}
                        <button type="submit">{{ "Add to cart"|t }}</button>
                    {% else %}
                        {{ "Out of Stock"|t }}
                    {% endif %}
                </form>

                {% if currentUser %}
                {% set order = craft.commerce.orders.user(currentUser).hasPurchasables(product.defaultVariant).find() %}
                {% if order|length %}
                    <strong>I already own this product: </strong> <a href="customer/order?orderNumber={{ order[0].number }}">Order #{{ order[0].shortNumber }}</a>
                {% endif %}
                {% endif %}

            {% endif %}
        </div>
    </div>
{% endfor %}

{% endblock %}
